/* Global styles */
:root {
    --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --color-primary: #2d9a53 !important;
}

.navbar {
    background-color: #121212 !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #2d9a53;
}

a {
    color: #fff;
    text-decoration: none;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
}

/* Header styles */

header {
    background-color: #121212 !important; 
    color: #121212;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header-container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav {
    margin-left: auto;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 20px;
}

/* Main content styles */

main {
    margin-top: 80px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
}

.playlists {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin: 0;
    padding: 0;
}

.playlists li {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.playlists li a {
    display: block;
    height: 100%;
}

.playlists li img {
    display: block;
    width: 100%;
    /*padding-bottom: 100%;*/
    object-fit: contain;
}

.playlists li h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.track-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.playlist-container {
    margin-top: 30px;
    float:left;
    background-color: #403737;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
    height: 700px;
    /* Change the height as desired */
    width: 30%;
    /* Change the width as desired */
}

.track {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.track-image-container {
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin-right: 15px;
}

.track-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.track-details {
    flex: 1;
}

.track-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.track-artist {
    margin-bottom: 0;
}

.track-preview-container {
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin-left: 15px;
}

.playlist-tracks {
    margin-left: 20px;
}

audio::-webkit-media-controls-play-button {
    display: block;
    width: 24px;
    height: 24px;
    background-color: #2d9a53;
    border-radius: 50%;
    float: right;
}

/* Footer styles */

footer {
    background-color: #282828;
    padding: 20px 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

footer p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}